.a{
    margin: 15px;
    border-style:outset;
}

.b{
    margin: 15px;
    border-style:outset;
}

.c{
    margin: 15px;
    border-style:outset;
}

.d{
    margin: 15px;
    border-style:outset;
}

.e{
    margin: 15px;
    border-style:outset;
}

.f{
    margin: 15px;
    border-style:outset;
}

.g{
    margin: 15px;
    border-style:outset;
}

.h{
    margin: 15px;
    border-style:outset;
}

.i{
    margin: 15px;
    border-style:outset;
}

.j{
    margin: 15px;
    border-style:outset;
}

body{
    background-color: gainsboro;
}