*{
  margin:0%;
}

.menu ul{
  display: flex;
  gap: 2rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  color:  aliceblue;
  
};

.menu ul li{
  padding: 1rem;
  text-align: center;
};