*{
  
  margin:0%;
}

.menu ul{
 
  gap: 2rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  color:  aliceblue;
  
};

.menu ul li{
  
  padding: 1rem;
  text-align: center;
};
body{
  display: flex;
  background-color: lightsteelblue;
}