.home{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
header{
  
    font-family: serif;
    font-size: 30px;
    color: crimson;
}
.form {
   
   align-items: center;
  
}
.button {
   
    padding-left: 80px; 
}
button {
   
    margin-left: 3rem;
}

