header{
  width: 100vw;
  height: 90px;
  background-color: rgb(145, 145, 166);
  color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.Logo{
  font-family: Andale Mono, monospace;
  text-align: center;
}
.Menu{
  text-align: center;
}
